server:
  port: 8080

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info, metrics, features
  endpoint:
    health:
      show-details: always